nav{
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
}


.effect-1{
    position: fixed;
    z-index: -10;
    width: 40px;
    height: 40px;
    border: 5px solid rgb(91, 85, 170);
    right: 10%;
    bottom : 10%;
    animation: spin 5s linear infinite;
    opacity: 0.3;
}

.effect-2{
    position: fixed;
    z-index: -10;
    width: 60px;
    height: 60px;
    background-color:rgb(97, 223, 92);
    border-radius: 50%;
    right: 30%;
    bottom : 40%;
    opacity: 0.4;
    animation: bounce 5s infinite;
}

.social-icon:hover{
    animation: spin 2s linear infinite;
}

.name-el:hover{
    color:red;
}

@keyframes bounce{
    
    50%{
        transform: translateY(-150px); 
    }
    100%{
        transform: translateY(0px);
    }
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    50%{
        border: 5px solid rgb(49, 214, 192);
    }
    
    100%{
        transform: rotate(360deg);
        border: 5px solid rgb(49, 162, 214);

    }
}
.box{
    position:relative;
    top:0px;
    width:200px;
    height:200px;
    margin: auto;
    transform-style:preserve-3d;
    animation:animate 10s linear infinite;
}

@keyframes animate{
    0%{
        transform:perspective(2600px)
        rotateY(0deg);
    }
    100%{
        transform:perspective(2600px)
        rotateY(360deg);
    }
}

.box span{
    position: absolute;
    top:0;
    left:10;
    width:80%;
    transform-origin:center;
    transform-style:preserve-3d;
    transform:rotateY(calc(var(--i) * 45deg)) translateZ(400px);
}

.box span img{
    position:absolute;
    top:10;
    left: 20;
    object-fit:cover;
    width:100%;
    -webkit-box-reflect:below 2px linear-gradient(transparent,transparent,#0004);
}

@media only screen and (max-width: 600px) {
    .box {
        width:100px;
        height:100px;
    }
    .effect-2{
        height:40px;
        width:40px;
    } 
    .effect-3{
        display: hidden;
    }

    .box span{
        transform:rotateY(calc(var(--i) * 45deg)) translateZ(150px);
    }
    

  }
